* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

html {
  height: 100%;
  font-size: 62.5%;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  width: 10rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 9px;
  border: 1px solid #070707;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;

}

.btn:hover,
.btn:active {
  color: #f5efef;
  background-color: #424241;
}

